.copyright
    - var hexoURL = "http://www.miibeian.gov.cn/";
    - var apolloURL = "https://github.com/xiaomoinfo";
    - var currentDate = new Date();
    - var year = currentDate.getFullYear();
    - var dateFrom = new Date(2015, 9, 12);
    - var dateTo = new Date();
    - var diff = dateTo.valueOf() - dateFrom.valueOf();
    - var diff_day = parseInt(diff / (1000 * 60 * 60 * 24));
    - var d = new Date();
    - var str = d.getHours() + '小时' + d.getMinutes() + '分' + d.getSeconds() + '秒';
    - year = year == theme.startyear ? year : theme.startyear + ' - ' + year;
    p © #{year} #[a(href=config.url)!= config.author] | powered by #[a(href=apolloURL, target="_blank") xiaomo] | #[a(href=hexoURL, target="_blank") 浙ICP备15009606号] | 本站己运行#{diff_day}天#{str} .
    span#busuanzi_container_site_pv  本站访问量:
        span#busuanzi_value_site_pv